@using TarkovSauce.Client.Components.MiscComponents
@if (_runningTotal > 0)
{
    @* <div style="width:100%;display:flex;justify-content:end;">
        <table class="running-total">
            <tr>
                <th>Total Sales:</th>
                <td>&nbsp;</td>
                <td>₽@(_runningTotal.ToString("###,###,###"))</td>
            </tr>
            <tr>
                <th>Flea Rep:</th>
                <td>&nbsp;</td>
                <td>@CalculateRep()</td>
            </tr>
            <tr>
                <th>Next Rep Level:</th>
                <td>&nbsp;</td>
                <td>₽@(CalcNextRepMilestone().ToString("###,###,###"))</td>
            </tr>
        </table>
    </div> *@
}
<div class="tstable">
    <table class="flea-sales-table">
        <tr>
            <th>Timestamp</th>
            <th>Type</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Value</th>
        </tr>

        @foreach (var item in FleaSalesProvider.CachedEvents.Concat(FleaSalesProvider.Events).OrderByDescending(ev => ev.Timestamp))
        {
            <tr>
                <td>@item.Timestamp.ToString("G")</td>
                <td>@item.Type</td>
                <td> <ItemComponent Item="@item"/></td>
                <td>@item.Quantity</td>
                <td>@(item.Currency)@(item.Reward.ToString("###,###,###"))</td>
            </tr>
        }
    </table>
</div>
<style>
    table.running-total th {
        text-align: right;
    }
</style>