@using TarkovSauce.Client.Components.MiscComponents

<h3>FleaSales</h3>
<br />

<div class="tstable">
    <table class="flea-sales-table">
        <tr>
            <th>Timestamp</th>
            <th>Type</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Value</th>
        </tr>

        @foreach (var item in FleaSalesProvider.Events.OrderByDescending(ev => ev.Timestamp))
        {
            <tr>
                <td>@item.Timestamp.ToString("G")</td>
                <td>@item.Type</td>
                <td> <ItemComponent Item="@item"/></td>
                <td>@item.Quantity</td>
                <td>@(item.Currency)@(item.Reward)</td>
            </tr>
        }
    </table>
</div>