<h3>FleaSales</h3>
<br />

<div class="tstable">
    <table class="flea-sales-table">
        <tr>
            <th>Timestamp</th>
            <th>Type</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Value</th>
        </tr>

        @foreach (var item in FleaSalesProvider.CachedEvents.Concat(FleaSalesProvider.Events).OrderByDescending(ev => ev.Timestamp))
        {
            <tr>
                <td>@item.Timestamp.ToString("G")</td>
                <td>@item.Type</td>
                <td>@item.ItemName</td>
                <td>@item.Quantity</td>
                <td>@(item.Currency)@(item.Reward.ToString("###,###,###"))</td>
            </tr>
        }
    </table>
</div>